.main_work {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    background: radial-gradient(circle, rgba(255,255,255,0) 0%, rgba(245,118,137,0.22172619047619047) 61%, rgba(255,255,255,0) 100%);
}

.title_section {
    height: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5%;
}

.title_page_1 {
    display: flex;
    align-items: center;
    margin-left: 6%;
}

.title_page_1 h2{
    color: var(--color-1);
    font-size: 4vw;
}

.title_page_1 h1 {
    color: var(--color-4);
    opacity: 10%;
    font-size: 9vw;
    position: absolute;
}

.deco_right {
    display: flex;
    align-items: center;
}

.line {
    height: .1vw;
    width: 2vw;
    background: var(--color-4);
    margin-right: 4%;
}

.line:nth-child(2) {
    width: 8vw;
}

.sparkle_img {
    height: 3vw;
    width: 3vw;
}

.tab_work {
    height: 80%;
}